<form [formGroup]="productReactiveForm" name="form" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.value)">
    <div class="form-group">
        <label for="pname" class="form-label">Name</label>
         <input type="text" id="pname" class="form-control" name="pname" [(ngModel)]="name" minlength="4" #pname="ngModel" required [ngModelOptions]="{standalone: true}">
       <div *ngIf="pname.untouched || pname.touched && !pname.valid">
            <div class="alert alert-danger" *ngIf="pname.errors && pname.errors['required']">Product is required!</div>
            <div class="alert alert-danger" *ngIf="pname.errors && pname.errors['minlength']">
                Product name must be at least 4 characters!
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="pprice" class="form-label">Price</label>
        <input type="text" id="pprice" class="form-control" [(ngModel)]="price" name="pprice" #pprice="ngModel" required [ngModelOptions]="{standalone: true}"> <!-- [(ngModel)]="price" -->
        <div class="alert alert-danger" *ngIf="(pprice.untouched && !pprice.valid) || pprice.touched && !pprice.valid">
            Price is required!
        </div>
    </div>
    <div class="mb-3 form-group">
        <label for="pproductTypeId" class="form-label">Product Type</label>
        <input type="text" id="pproductTypeId" class="form-control" [(ngModel)]="productTypeId" name="pproductTypeId"  
        #pproductTypeId="ngModel" required *ngIf="product.id!=0" [ngModelOptions]="{standalone: true}">
        <div class="alert alert-danger" *ngIf="product.id==0">
            Product type is required!
        </div>
        <select class="form-control" [(ngModel)]="productTypeId" name="pproductTypeId" id="pproductTypeId" #pproductTypeId="ngModel"  
        *ngIf="product.id==0" [ngModelOptions]="{standalone: true}" required>
            <option [ngValue]="null" disabled>Select</option>
            <option *ngFor="let type of productTypeList$|async" [value]="type.id">{{type.productTypeName}}</option>
        </select>
        
    </div>
    <div class="form-group">        
        <mat-button-toggle #activeToggleBtn disableRipple [checked]="active" 
        (change)="active = $event.source.checked">Active</mat-button-toggle>
        {{activeToggleBtn.checked}}
    </div>
    <button (click)="addProduct()" *ngIf="product.id==0" class="btn btn-primary m-2">Add</button>
    <button (click)="updateProduct()" *ngIf="product.id!=0" class="btn btn-primary m-2">Update</button>
</form>
